<div class="section">
	<div class="section__title">
		<p class="section__title__label">Section title:</p>
		<p class="section__title__text">{{ sectionData?.name }}</p>
	</div>
	<div class="section__paragraphs-container">
		<ng-container *ngFor="let paragraph of sectionData?.paragraphs">
			<app-paragraph [paragraphData]="paragraph">
				<ng-container *ngTemplateOutlet="paragraphTemplate; context: { items: paragraph?.children }"></ng-container>
			</app-paragraph>
		</ng-container>
	</div>
</div>
<ng-template #paragraphTemplate let-items="items">
	<ng-container *ngIf="items && items.length">
		<app-paragraph  *ngFor="let item of items" [paragraphData]="item">
			<ng-container *ngTemplateOutlet="paragraphTemplate; context: { items: item?.children }"></ng-container>
		</app-paragraph>
	</ng-container>
</ng-template>
