.header-wrap {
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  min-height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.header-content {
  max-width: 960px;
  width: 100%;
}
