.preview {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 304px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 2;
  padding-top: 96px;
  background-color: #fff;
  overflow-y: scroll;
  padding-left: 16px;

  &__template {
    &__title {
      border-bottom: 1px solid #e6edf9;
      margin-bottom: 16px;
      padding-bottom: 16px;

      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
  &__section {
    border-bottom: 1px solid #e6edf9;
    margin-bottom: 16px;

    &__title {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 16px;
      line-height: 24px;
    }
  }
  &__paragraph {
    &__title {
      color: #616e8f;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
    }
    &__children {
      margin-left: 15px;
    }
    &__item {
      margin-bottom: 14px;

      &:hover {
        background-color: #80a3e2;
        cursor: pointer;

        .preview__paragraph__title {
          color: #fff;
        }
      }
      &:focus {
        background-color: #80a3e2;
        cursor: pointer;

        .preview__paragraph__title {
          color: #fff;
        }
      }
    }
  }
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-25 {
  padding-left: 25px;
}
